/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*::after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*--------------------------------*/

/*THIS IS HEADER OF SITE*/
.header {
   position: relative;
   opacity: 0.9;
   background-color: #242424;
   .container{
      max-width: 1200px;
      margin: 0 auto;
      height: 170px;
   }
   .logo{
      text-align: center;  
   }
   .logo__text{
      padding-bottom: 5px;
      font-size: 25px;
      color: #fff;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
   .logo__img {
      width: 70px;
      border-radius: 50%;
   }
   .menu__link {
      font-size: 20px;
      color: white;
      text-decoration: none;
   }
   .menu{
      width: 100%;
      padding-top: 20px;
      display: flex;
      justify-content: center;
      gap: 50px;
   }
   .menu__link:hover{
      color: coral;
      transition: .5s;
   }
   .menu__burger{

   }
}

@media screen and (max-width: 767px){
   .header{
      .container{
      width: 100%;
      height: 70px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      }
   }
   .logo__text{
      display: none;
   }
   .menu{
      position: absolute;
      left: -100%;
      top: 0;
      z-index: 2;
      flex-direction: column;
      background-color: #242424;
      align-items: center;
      min-width: 100%;
      min-height: 100%;
      align-items: start;
      padding: 20px;
      transition: transform .5s;
   }
   .menu__link{
      
   }
   .logo__img{
      width: 40px;
      display: block;
      padding: 5px;
   }
   .menu__burger span{
      position:absolute;
      background-color: #fff;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: transform .5s, opacity .5s, background-color .5s, all 0.3s ease 0s;

   }
   .menu__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      margin-right: 20px;
      z-index: 3;
   }
   .menu__burger::before,
   .menu__burger::after{
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }
   .menu__burger::before{
      top: 0;
   }
   .menu__burger::after{
      bottom: 0;
   }
   .header.open .menu{
      transform: translateX(100%);
   }
   .header.open .menu__burger::before{
      transform: rotate(45deg);
      top: 9px;
   }
   .header.open .menu__burger::after{
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .header.open .menu__burger span{
      transform: scale(0);
   }
}
/*THIS IS BODY OF SITE*/
.row{
   max-width: 1200px;
   margin: 0 auto;
   &__about img{
      width: 100%;
   }
   &__text{
      font-size: 30px;
      text-align: center;
      padding: 15px;
      font-weight: 900px;
   }
   &__info{
      font-size: 30px;
      text-align: center;
      padding: 15px;
      font-weight: 900px;
   }
   &__more-info{
      font-size: 30px;
      padding: 30px 50px 30px 50px;
      font-weight: 900px;
      text-align: center;
   }
}
.about__row{
   display: flex;
   justify-content: center;
   justify-content: space-around;
   max-width: 1200px;
}
.about__column {
   
}
.item-about{
   width: 230px;
}
.item-about__icon {
   
}
.item-about__title {
   font-size: 30px;
   font-weight: 900px;
   text-align: center;
}
.item-about__text {
   font-size: 20px;
   padding-top: 10px;
   text-align: center;
}
.item-about__button{
   font-size: 25px;
   text-align: center;
   margin: 10px;
   border: 1px solid black;
   width: 200px;
   height: 30px;
   border-radius: 25px;
   background-color: #242424;
}
.item-about__button a{
   color: #fff;
}
.item-about__button a:hover{
   color: coral;
   transition: .5s;
}
@media screen and (max-width: 767px){  
   .row__text{
      font-size: 15px;
      padding: 10px;
      font-weight: 900;
   }
   .row__info{
      font-size: 15px;
      padding: 10px;
      font-weight: 900;
   }
   .row__more-info{
      font-size: 15px;
      padding: 10px;
      font-weight: 900;
   }
   .item-about__icon {

   }
   .about__row{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.footer {
   margin-top: 50px;
   background-color: #242424;
   color: #fff;
}
.footer_about {
   display: flex;
   justify-content: center;
   gap: 100px;
}
.footer__first-row {
   margin: 20px;
}
.footer__first-title {
   font-size: 30px;
   margin-bottom: 20px;
}
.footer__first-links a{
   font-size: 25px;
   color: #fff;
}
.footer__first-links a:hover{
   color: coral;
   transition: .5s;
}
.footer__second-row {

}
.footer__second-title {
   font-size: 30px;
   padding: 20px 20px 20px 55px;
}
.footer__second-form {
   padding-top: 30px;
   display: flex;
   border-radius: 30px;
}
.footer__second-text {
   padding: 5px 5px 5px 5px;
   border-radius: 25px 0 0 25px;
   font-size: 20px;
}
.footer__second-submit {
   border-radius: 0 25px 25px 0;
   padding-right: 20px;
   background-color: coral;
   padding-left: 20px;
   color: #fff;
   font-size: 20px;
}
.footer__last-row {
   margin: 20px;
}
.footer__last-title {
   font-size: 30px;
}
.footer__last-info {
   font-size: 20px;
   padding-top: 20px;
}
.footer__last-info a{
   color: #fff;
}
.footer__last-info a:hover{
   color: coral;
   transition: .5s;
}
.footer__info{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.footer__links{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
@media screen and (max-width: 767px){
   .footer_about{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .footer__links{
      text-align: center;
   }
   .footer__info{
      text-align: center;
   }
   .footer__last-title{
      text-align: center;
      padding-bottom: 20px;
   }
   .footer__second-title{
      text-align: center;
      padding: 0%;
   }
}
